<div class="ui grid" *ngIf="offer">
  <div class="twelve wide column">
    <button class="ui orange button" routerLink="/offers">Zurück zur Liste</button>
    <h1 class="ui header">{{ offer.subject }}</h1>
    <h3 class="ui header">{{ offer.description }}</h3>
    <span>Erstellt am: {{renderDate(offer.created_at)}}</span>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">User</h4>
        <span>
         {{ offer.user.firstname }} {{ offer.user.lastname }}
       </span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">Offer ID</h4>
        {{ offer?.id }}
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{ offer.description }}
  </div>
</div>

<h2 *ngIf="offer.timeslots?.length">Verfügbare Termine:</h2>
<div class="ui horizontal segments" *ngIf="offer.timeslots?.length">
  <div *ngFor="let timeslot of offer.timeslots">
    <div *ngIf="!timeslot.user_id">
      <div class="ui segment">
        <h3 class="ui header">Beginn: {{renderDateTime(timeslot.start)}}</h3>
        <h3 class="ui header">Ende: {{renderDateTime(timeslot.end)}}</h3>
          <button class="ui tiny green labeled icon button" (click)="bookTimeslot(timeslot)" >
            <i class="calendar checkmark outline icon"></i> Termin verbindlich buchen
          </button>
          <button class="ui tiny red labeled icon button" (click)="removeTimeslot(timeslot)" >
            <i class="calendar remove outline icon"></i> Termin löschen
          </button>
      </div>
    </div>
  </div>
</div>

<h2 *ngIf="offer.usercomments?.length">Kommentare:</h2>
<div class="ui horizontal segments" *ngIf="offer.usercomments?.length">
  <div *ngFor="let comment of offer.usercomments">
    <div class="ui segment">
      <span class="ui header">{{comment.text}}</span><br>
      <span class="ui small">Geschrieben am: {{renderDate(comment.created_at)}}</span>
    </div>
  </div>
</div>
<button class="ui green labeled icon button" routerLink="./usercomment/create" >
  <i class="calendar plus outline icon"></i> Kommentar hinzufügen
</button>
<br>
<br>
<a class="ui yellow labeled icon button"
   [routerLink]="['../../offer/update', offer?.id]">
  <i class="write icon"></i> Angebot bearbeiten
</a>
<!--*ngIf="authService.isLoggedIn()"-->
<button  class="ui red button labeled icon" (click)="removeOffer()">
  <i class="remove icon"></i>Angebot löschen
</button>
<br>
<br>
<button class="ui orange button" routerLink="/offers">Zurück zur Liste</button>

